h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
* {
    box-sizing: border-box;
}
ul {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Next Art Thin';
    src: local('NEXT ART Thin'), url('Nextartthin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Next Art Light';
    src: local('NEXT ART Light'), url('Nextartlight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Next Art Regular';
    src: local('NEXT ART Regular'), url('Nextartregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Brushwell';
    src: local('Brushwell'), url('Brushwell.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Louis George Cafe';
    src: local('Louis George Cafe'), url('Louis George Cafe.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RedVelvet';
    src: local('RedVelvet'), url('RedVelvet.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

        /* Header */ 

.header {
    width: 100%;
    height: 911px;
    background: url(../img/headerBG-big.jpg) no-repeat center / cover;
    display: flex;
    justify-content: center;
}
.content__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
}
.header__nav--list {
    font-family: 'Next Art Thin', sans-serif;
    font-size: 19.19px;
    color: #fff;
    margin: 0;
    margin-top: 65px;
}
.header__nav--list li {
    display: inline-block;
    padding-right: 50px;
}
.header__nav--list li:after {
    content: '';
    display: inline-block;
    background-color: #fff;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity linear .2s;
}
.header__nav--list li:hover:after {
    opacity: 1;
}
.header__nav--list li:last-child:after {
    height: 0;
}
.header__nav--list li:last-child {
    width: 18px;
    height: 18px;
}
.header__search--icon {
    padding-top: 1px;
    transition: width, height linear .2s;
    cursor: pointer;
}
.header__search--icon:hover {
    width: 18px;
    height: 18px;
}
.header__main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__main__title {
    font-family: 'Brushwell', serif;
    font-size: 75.96px;
    font-weight: 400;
    color: #fff;
}
.header__main__title:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 40px;
}
.header__main__title--sub {
    font-family: 'RedVelvet', serif;
    font-size: 66.92px;
    font-weight: 400;
    color: #fff;
    margin-top: -35px;
}
.header__main__text {
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18.75px;
    font-weight: 100;
    color: #fff;
    line-height: 30px;
    margin-top: 35px;
    text-align: center;
}
.header__sn--links {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}
.header__sn--links--list {
    margin: 0;
    padding: 0;
}
.header__sn--links li {
    list-style-type: none;
    padding-bottom: 45px;
    margin-right: -100px;
}
.header__slider {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.header__slider--button {

}
.header__slider--button li {
    display: inline-block;
}
.header__slider--button--icon {

}
.header__active {

}

    /* About Me */

.about__me {
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__me__img {
    margin-right: 45px;
}
.about__me--line {
    content: '';
    width: 1px;
    height: 370px;
    background-color: black;
    margin-right: 30px;
}
.about__me--container {
    max-width: 540px;
    display: flex;
    flex-direction: column;
}
.about__me--title {
    font-family: 'Brushwell', serif;
    font-size: 76px;
    font-weight: normal;
    color: #000;
    margin-bottom: 20px;
}
.about__me--text {
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18.5px;
    font-weight: normal;
    line-height: 30px;
    color: #000;
}
.about__me--button {
    max-width: 245px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000;
    border: 1px solid #373737;
    cursor: pointer;
    margin-top: 35px;
    transition: color, background-color .2s linear;
}
.about__me--button:hover {
    color: #FFF;
    background-color: #000;
}
.about__me--button--text {
    padding: 10px 15px;
}

    /* Portfolio */

.portfolio__header {
    width: 100%;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/portfolioBG.jpg) no-repeat center / cover;
}
.portfolio__title {
    font-family: 'Brushwell', serif;
    font-size: 76px;
    font-weight: normal;
    color: #000;
    margin-bottom: 30px;
}
.portfolio__subtitle {
    font-family: 'RedVelvet', serif;
    font-size: 67px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
}   
.portfolio__subtitle:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 20px;
}
.portfolio__text {
    font-family: 'RedVelvet', serif;
    font-size: 28px;
    font-weight: normal;
    color: #373737;
    margin-bottom: 40px;
}
.portfolio__button {
    max-width: 210px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000;
    border: 1px solid #373737;
    cursor: pointer;
    transition: color, background-color .2s linear;
}
.portfolio__button:hover {
    color: #FFF;
    background-color: #000;
}   
.portfolio__button--text {
    padding: 10px 30px;
}

    /* Portfolio Content */

.portfolio__content {
    height: 1295px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio__content--grid {
    margin-bottom: 30px;
    display: grid;
    grid-template-areas:   'photo1 photo2 photo3'
                           'photo1 photo5 photo3'
                           'photo4 photo5 photo7'
                           'photo4 photo6 photo7';
}
.photo1 {
    grid-area: photo1;
}
.photo2 {
    grid-area: photo2;
}
.photo3 {
    grid-area: photo3;
}
.photo4 {
    grid-area: photo4;
}
.photo5 {
    grid-area: photo5;
}
.photo6 {
    grid-area: photo6;
}
.photo7 {
    grid-area: photo7;
}
.grid--content {
    margin: 10px;
}
.portfolio__slider {
    display: flex;
    justify-content: center;
}
.portfolio__slider--button {

}
.portfolio__slider--button li {
    display: inline-block;
}
.portfolio__slider--button--icon {

}
.portfolio__active {

}

    /* Video */

.video__header {
    width: 100%;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/videoBG.jpg) no-repeat center / cover;
}
.video__title {
    font-family: 'RedVelvet', serif;
    font-size: 67px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff
}
.video__title:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
}
.video__text {
    font-family: 'RedVelvet', serif;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    line-height: 35px;
    color: #2b2b2b;
}

    /* Video Content */

.video__content {   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 1175px;
    width: 100%;
}
.video__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.video {
    outline: none;
    max-width: 940px;
    max-height: 525px;
}
.hidden {
    opacity: 0;
}
#playButton {
    position: absolute;
    margin-top: -140px;
}
.video__text--main {
    text-align: center;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: #000;
}
.video__text--main:before {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
.video__content__other {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.video__content__other:after {
    content: '';
    display: block;
    height: 2px;
    width: 1140px;
    background-color: #000;
    margin-top: 45px;
}
.video__content__other__list {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video__content__other__list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#video__list--secondChild {
    padding: 0 20px;
}
.video__content__other__list--text {
    text-align: center;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: #000;
}
.video__content__other__list--text:before {
    content: '';
    display: block;
    height: 2px;
    width: 25px;
    background-color: #000;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 15px;
}
.video__button {
    margin-top: 20px;
    max-width: 210px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000;
    border: 1px solid #373737;
    cursor: pointer;
    transition: color, background-color .2s linear;
}
.video__button:hover {
    color: #FFF;
    background-color: #000;
}   
.video__button--text {
    padding: 5px 30px;
}

    /* Testimonials */

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    width: 100%;
}
.testimonials__title {
    font-family: 'Brushwell', serif;
    font-size: 76px;
    font-weight: normal;
    color: #000;
    margin-bottom: 40px;
}
.testimonials__subtitle {
    font-family: 'Next Art Light', sans-serif;
    font-size: 37px;
    font-weight: 100;
    color: #000;
    margin-bottom: 180px;
}
.testimonials__list {
    width: 1140px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.testimonials__list li {
    width: 330px;
    height: 415px;
}
#testimonials__list--secondChild {
    padding: 0 50px;  
}
.testimonials__list--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #000;
    width: 330px;
    height: 415px;
}
.testimonials__list--img {
    margin-top: -145px;
}
.testimonials__list__text--name {
    font-family: 'RedVelvet', serif;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    margin-top: 15px;
}
.testimonials__list__text--main {
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: #000;
    text-align: center;
    margin-top: 35px;
}
.testimonials__button {
    margin-top: 40px;
    max-width: 210px;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    color: #000;
    border: 1px solid #373737;
    cursor: pointer;
    transition: color, background-color .2s linear;
}
.testimonials__button:hover {
    color: #FFF;
    background-color: #000;
}   
.testimonials__button--text {
    padding: 5px 30px;
}

    /* Contact Me */

.contact__container {
    width: 100%;
    height: 775px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../img/contactBG.jpg) no-repeat center / cover;
}
.contact__title {
    font-family: 'Brushwell', serif;
    font-size: 66px;
    font-weight: normal;
    color: #000;
    margin-bottom: 20px;
}
.contact__subtitle {
    font-family: 'Next Art Light', sans-serif;
    font-size: 37px;
    font-weight: 100;
    color: #000;
    text-align: center;
}
.form__container {
    display: flex;
    margin-top: 25px;
}
.contact__subtitle:after {
    content: '';
    display: block;
    background-color: #000;
    width: 715px;
    height: 1px;
    margin-top: 30px;
}
.contact__form {
    display: flex;
    flex-direction: column;
}
.contact__form__text {
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: #000;
    margin-bottom: 15px;
}
.label {
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
    padding-top: 15px;
}
.name__input {
    width: 345px;
    height: 50px;
    padding-top: 10px;
}
.subject1__input {
    width: 345px;
    height: 50px;
    padding-top: 10px;
}
.subject2__input {
    width: 345px;
    height: 150px;
    font-size: 18px;
    padding-top: 5px;
}
.input {
    background: transparent;
    outline: none;
    border: 1px solid #000;
    font-size: 22px;
    padding-left: 5px;
    overflow: auto;
    resize: none;
    margin-top: 15px;
}
.submit__button {
    background: transparent;
    outline: none;
    border: 1px solid #000;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    color: #000;
    transition: color, background-color .2s linear;
    margin-top: 10px;
}
.submit__button:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
}
.contact__img {
    margin-left: 20px;
}

    /* Footer */

.footer {
    width: 100%;
    height: 415px;
    background: url(../img/footerBG.jpg) no-repeat center / cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__nav {

}
.footer__nav--list {
    font-family: 'Next Art Light', sans-serif;
    font-size: 17px;
    color: #fff;
    list-style: none;
}
.footer__nav--list li {
    display: inline-block;
    padding-right: 40px;
}
.footer__nav--list li:after {
    content: '';
    display: inline-block;
    background-color: #fff;
    height: 1px;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity linear .2s;
}
.footer__nav--list li:hover:after {
    opacity: 1;
}
.footer__nav--list li:last-child:after {
    height: 0;
}
.footer__search--icon {
    padding-top: 2px;
    transition: width, height linear .2s;
    cursor: pointer;
}
.footer__icons--container {
    margin-top: 35px;
    margin-bottom: 35px;
}
.footer__icons--container ul {
    list-style: none;
}
.footer__icon {
    width: 19px;
    height: 17px;
    display: inline-block;
    margin-right: 30px;
}
.footer__text {
    text-align: center;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 60px;
}
.footer__copyText {
    text-align: center;
    font-family: 'Louis George Cafe', sans-serif;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
}